<div id="header"></div>

<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Sofien Elkamel</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <img src="pic_trulli.jpg" alt="https://drive.google.com/drive/u/1/folders/1xcePn8GjiVW3c53n1J4Lngk8vw" width="500" height="333">
  <ul>
    <li>Football</li>
    <li>Country Music</li>
    <li>Cyber Security</li>
    <li>Programming</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS</li>
    <li>Bootstarp</li>
    <li>React-Redux</li>
    <li>node</li>
        <li>MongoDB</li>
        <li>Javascript</li>


  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://www.facebook.com/photo.php?fbid=885457314874382&set=pb.100002303644439.-2207520000.1551799885.&type=3&theater">
      <li>go my code </li>
    </a>
    <!--Link-->
    <a href="https://www.silvermineart.org/">
      <li>University of letters & arts manouba</li>
    </a>
    <li>Codeacademy</li>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Student web development at Sipmlon</li>
    <li>freelancer</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Amnesty member</li>
    <li></li>
    <li>Book Club</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">SOfien</h2></div>
